doctype html
//if lt IE 7
//if IE 7
//if IE 8
//if gt IE 8
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Huaskar - Fábrica de Software
  // FAVICON ICON
  link(rel='icon' type='/img/png' sizes='32x32' href='/img/favicon-32x32.png')
  link(rel='icon' type='/img/png' sizes='16x16' href='/img/favicon-16x16.png')
  link(rel='shortcut icon' href='/img/favicon.ico' type='/img/x-icon')
  // GOOGLE FONT
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Rubik&display=swap' rel='stylesheet')
  // ICONTFONT
  link(href='/css/vendor/icofont.min.css' rel='stylesheet')
  // BOOTSTRAP
  link(href='/css/vendor/bootstrap.min.css' rel='stylesheet')
  // MAGNIFIC POPUP
  link(href='/css/vendor/magnific.css' rel='stylesheet')
  // HEADLINE ANIMATED
  link(href='/css/vendor/headlineanimated.css' rel='stylesheet')
  // OWL CARAOUSEL CSS
  link(href='/css/vendor/owl.carousel.min.css' rel='stylesheet')
  link(href='/css/vendor/owl.theme.default.min.css' rel='stylesheet')
  // RADIO BUTTON DOT CSS
  link(href='/css/vendor/radiobuttondot.css' rel='stylesheet')
  // MAIN CSS
  link(href='/css/themes.css' rel='stylesheet')
  // RESPONSIVE CSS
  link(href='/css/responsive.css' rel='stylesheet')
  // Global site tag (gtag.js) - Google Ads: 612755898
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-211000739-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-211000739-1');
  script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
//if lt IE 7
  p.browsehappy
    | You are using an 
    strong outdated
    |  browser. Please 
    a(href='#') upgrade your browser
    |  to improve your experience.
// PRELOADER
.preloader
  .ellipsis
    div
    div
    div
    div
// MAIN WRAP
.main-wrap
  // SMALL MENU
  .overlay-fade
  .wrap-mobilemenu
    button#closesmenu.button-menu
      i.icofont-close-squared-alt
    nav.menu-mobile
      ul.navigation-list
        li
          a.nav-link(href='#about-section') Requisitos
        li
          a.nav-link(href='#services-section') Servicios
        li
          a.nav-link(href='#contact-section') Solicitar
  // HEADER WRAP
  header#header-wrap
    .main-headerwrap.container
      .row
        .col-lg-3
          .logo-wrap
            img(src='/img/logo_colored.png' alt='HUASKAR')
            //- img(src='/img/Main.png' alt='Préstamos Rosa')
        .col-lg-9.navigation-big
          nav.navigation-wrap
            ul.navigation-list
              li
                a.nav-link(href='#about-section') Nosotros
              li
                a.nav-link(href='#services-section') Servicios
              li
                a.nav-link(href='#contact-section') Contacto
        button#openmenu.button-menu
          i.icofont-navigation-menu
  // END HEADER WRAP
  // HERO WRAP
  //- section#wrap-hero.jarallax(style="background: url('/img/background.png'); background-size: cover; background-position: center; background-repeat: no-repeat;")
  section#wrap-hero.jarallax(style="")
    .d-flex.align-items-center.justify-content-center.inner-herocontent
      .container
        .row
          .col-lg-6
            .detail-herowrap
              h1
                | Fábrica de 
                span.sec-word Software.
            .sec-detailherowrap
              p.title-detail DE IDEA A SOLUCIÓN
              h3.typed-container
                | Requiero un
                span#typed-text
              .mini-detail
                p
                  | Nuestro proceso de desarrollo de software emplea las mejores metodologías y tecnologías para crear soluciones útiles y eficientes.
              a.button-link.light-b.llinks(href="#contact-section") CONTACTANOS
          .col-lg-6
            
  // END HERO WRAP
  // ABOUT ME WRAP
  section#about-section.padtopbottom
    .container
      .row
        .col-lg-7
          h1 Nosotros
          h4 ¿Quiénes somos?
          div.about-me
            p.text-justify
              | Somos una empresa de software que se especializa en desarrollo de software, diseño y desarrollo de aplicaciones web y móviles.
              | Nuestra experiencia nos permite ofrecer soluciones a medida, adaptándonos a las necesidades de nuestros clientes.
  hr
  section#services-section.padtopbottom
    .container
      .row
        .col-lg-7
          .about-detailwrap
            p.title-detail SERVICIOS
            h3
              | Te 
              span.sec-word ofrecemos
            .mini-detail
              p
                | Software de calidad, con una amplia gama de soluciones que te permiten digitalizar procesos en tu negocio e innovar para superar a la competencia.
        .col-lg-12
          .mini-detailwhatido
            #wrapido.owl-carousel.owl-theme
              .wrap-whatido
                .wrap-whatidodetail
                  .inner-detailido
                    i.icofont-whatsapp.icon-w
                    h3 Soluciones Web
                    p Desarrollo de aplicaciones web responsivas.
              .wrap-whatido
                .wrap-whatidodetail
                  .inner-detailido
                    i.icofont-id.icon-w
                    h3 Soluciones IoT
                    p Trasciende la tecnología a la realidad.
              .wrap-whatido
                .wrap-whatidodetail
                  .inner-detailido
                    i.icofont-bank.icon-w
                    h3 Desarrollo de bots
                    p Innova con la automatización de procesos en tiempo real.
              .wrap-whatido
                .wrap-whatidodetail
                  .inner-detailido
                    i.icofont-ui-settings.icon-w
                    h3 Desarrollo de integraciones
                    p Te ayudamos a realizar integraciones con servicios externos.
              .wrap-whatido
                .wrap-whatidodetail
                  .inner-detailido
                    i.icofont-ui-settings.icon-w
                    h3 App Mobile
                    p Desarrollo de aplicaciones móviles para Android y iOS.
              .wrap-whatido
                .wrap-whatidodetail
                  .inner-detailido
                    i.icofont-ui-settings.icon-w
                    h3 E-commerce
                    p Desarrollo de tiendas online de ultima generación a medida.
  section#contact-section
    .container
      .row.align-items-center
        .col-lg-6
          .contact-form
              .title-top
                h3 Contactanos
              .mini-detail
                p
                  | Si requieres de nuestros servicios o tienes alguna duda, por favor llena el siguiente formulario y nos pondremos en contacto contigo.
              form#contact-form(action='#' method='get' accept-charset='utf-8')
                .row
                  .col-md-6
                    input(type='text' placeholder='Nombres' name='name')
                  .col-md-6
                    input(type='text' placeholder='Apellidos' name='lastname')
                  .col-lg-6
                    input(type='text' placeholder='Número de Teléfono' name='phone')
                  .col-lg-6
                    input(type='text' placeholder='Email' name='email')
                  .col-lg-12
                    textarea(placeholder='Escribe tu mensaje...' name='message')
                  .col-lg-12
                    button.button-link.dark-b.llinks(type='submit') ENVIAR
        .col-lg-4.ml-auto
          .detail-contact
            .title-top
              h3 Detalles de Contacto.
            .mini-detail
              p
                | Otros medios de contacto
            .detail-info
              i.icofont-map-pins.the-icon
              .inner-detail
                p
                  | Oficina
                  br
                  | Cerrada temporalmente
            .detail-info
              i.icofont-whatsapp.the-icon
              .inner-detail
                p
                  | Whatsapp
                  br
                  | +51958307938
            .detail-info
              i.icofont-ui-email.the-icon
              .inner-detail
                p
                  | contact@huaskar.com
                  br
                  | luis.choque@huaskar.com
            .sosmed-home.foot-sosmed
              ul.sosmed-list
                li
                  a(href='https://www.facebook.com/huaskar' target='_blank')
                    i.icofont-facebook
                li
                  a(href='https://www.twitter.com/huaskar' target='_blank')
                    i.icofont-twitter
                li
                  a(href='https://github.com/ChoqueCastroLD' target='_blank')
                    i.icofont-github
                li
                  a(href='http://www.huaskar.com' target='_blank')
                    i.icofont-dribble
  // FOOTER
  footer#footer-wrap
    .container
      .row
        .col-lg-4
          .wrap-title-foot
            h3
              b Huaskar_
              |  Todos los derechos reservados 2021
  // SCROLLTOP
  a.scroll-top(href='#')
    i.icofont-arrow-up.dropicon
// END MAIN WRAP
// JAVASCRIPT JQUERY
script(src='/js/vendor/jquery.js')
// BOOTSTRAP
script(src='/js/vendor/bootstrap.min.js')
// MAGNIFIC POPUP
script(src='/js/vendor/magnific.js')
// OWL CAROUSEL
script(src='/js/vendor/owl.carousel.min.js')
// ISOTOPE
script(src='/js/vendor/isotope.js')
// HEADLINE ANIMATED
script(src='/js/vendor/typed.js')
// JARALLAX
script(src='/js/vendor/jarallax.js')
// MAIN JAVASCRIPT
script(src='/js/main.js')
