doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Logs
    body
        h4 IPs (#{ips.length})
        ul
            - for(const {body, ip, utm_source} of ips)
                li
                    h5 IP: #{ip}
                    h3 #{utm_source}
                    p BODY: #{JSON.stringify(body)}